.TicketDataConfirmationPage {
    display: flex;
    flex-direction: column;
}

.TicketView {
    position: relative;
    width: 100%;
    height: 58rem;
}

.TicketShape {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.AirCompanyLogo {
    width: 50rem;
    height: 20rem;
    position: absolute;
    top: 21rem;
    left: 29rem;
    object-fit: contain;
}

.TicketData {
    display: flex;
    flex-direction: column;
    padding: 8rem 0rem 8rem 0rem;
}

.Row {
    display: flex;
    margin-bottom: 1.6rem;
}

.Key {
    display: flex;
    align-items: center;

    width: 27rem;
    max-height: 9.6rem;

    font-family: Roboto;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Value {
    display: flex;
    align-items: center;
    width: 65rem;
    max-height: 9.6rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  

    font-family: Montserrat;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.8rem;
}

.Bold {
    font-family: Montserrat;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.8rem;
}

.Controls {
    display: flex;
    flex-direction: column;
}