.Header {
    width: 100%;
    height: 33.3rem;
    position: relative;

    transition: .2s ease-out;
}

.Content {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    padding: 8rem;
}

.Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../resources/images/HeaderBackground.png');
    opacity: 0;
    animation: fadeIn .5s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    80% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

.open {
    & .LogoArea {
        & img {
            width: 29.6rem;
            height: 10rem;
        }
    }
}

.LogoArea {
    & img {
        width: 100%;
        height: 100%;
        max-width: 35.7rem;
        max-height: 12.1rem;

        object-fit: contain;

        transition: .2s ease-out;;
    }
}

.CancelLink {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: transparent;
    border: none;

    width: 21.4rem;
    height: 8rem;

    text-decoration: none;

    cursor: pointer;

    & span {
        color: white;
        text-align: center;

        font-family: Montserrat;
        font-size: 4rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.4px;
    }

    & img {
        width: 5.6rem;
        height: 5.6rem; 
        object-fit: contain;
    }
}