.Header {
    width: 100%;
    height: 33.3rem;
    position: relative;

    transition: .2s ease-out;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../resources/images/HeaderBackground.png');
    background-size: contain;
    opacity: 1;
    animation: .5s fadeIn ease-in forwards;
    z-index: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    80% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

.Logo {
    transition: .2s ease-out;
}

.CancelLink {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: transparent;
    border: none;

    text-decoration: none;

    cursor: pointer;
}